---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <div class="container mx-auto p-10">
    <h1 class="text-3xl font-bold text-center">About Me</h1>
    <p class="mt-6 text-lg text-justify">
      Merhaba, ben [Adınız]. [Blogunuzun konusu hakkında kısa bir açıklama].
      Blog yazmak, düşüncelerimi paylaşmak ve okuyucularımın fikirlerini
      öğrenmek için buradayım. [Ek bilgi, hobi veya ilgi alanlarınız hakkında].
    </p>
    <p class="mt-6 text-lg text-justify">
      [Blogunuzun amacı ve hedef kitleniz hakkında daha detaylı bilgi].
      İçeriklerimin kaliteli ve okuyucularımın işine yarayacak şekilde olmasını
      hedefliyorum. Sürekli olarak kendimi geliştirmeye ve okuyucularıma daha
      iyi hizmet sunabilmeyi amaçlıyorum.
    </p>
    <h2 class="mt-10 text-xl font-bold text-center">Contact Me</h2>
    <p class="mt-6 text-lg text-justify">
      Eğer blogumla ilgili sorularınız veya görüşleriniz varsa, lütfen aşağıdaki
      iletişim bilgilerimi kullanarak benimle iletişime geçin.
    </p>
    <p class="mt-6 text-lg text-center">
      <a href="mailto:[email adresiniz]" class="text-blue-500 hover:underline"
        >[email adresiniz]</a
      >
    </p>
  </div>
</MainLayout>
